/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    color: #C9C9C9;
}

/* Commons */

.pd10{
 padding: 10px
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.container{
    width: 70%;
    margin: 10px auto;
}

section,
footer{
    margin-top: 10px;
}

h1,h2,h3,h4,h5{
    color: black;
    margin-top: 30px;

}

h4{
    margin-bottom: 10px;
    font-weight: 100;
}
.text{
    font-size: 14px;
}

.img-section{
    height: 250px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 15px;
    background-position: center;
}

.img-section,
.logo,
.overlay {
    border-radius: 10px;
}

/* Header */

img{
    width: 150px;
    margin-bottom: 20px;
}

header ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 15px 12px 15px 0px;
    font-weight: 300;
}

/* Logo Section */
.logo{
    width: 100%;
    background-image: url('../img/banner.jpg');
    height: 550px;
    background-position:center;
    background-size: cover;
    position: relative;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(000, 000, 000,0.25);
    z-index: 1;
}

.description{
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 40%;
    color: white;
}

.description div:first-child{
    font-size: 24px;
}

/* Column Content */

h1{
    font-size: 40px;
    font-weight: 600;
}

.img1{
    background-image: url('../img/img-1.jpg');
}

.img2{
    background-image: url('../img/banner-2.jpg');
}

.img3{
    background-image: url('../img/img-3.jpg');
}

aside {
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 60%;
}

/* Footer */
footer{
    text-align: center;
    color: black;

}

.heart{
    color: #FF0000;
font-size: 16px;
}