/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    color: #C9C9C9;

}
/* Commons */

.pd10{
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;

}

.container{
    width: 70%;
    margin: 10px auto;
}

section,
footer{
    margin-top: 10px;
}

h1,h2,h3,h4,h5{
    color: black;
    margin-top: 30px;
}
.text{
    font-size: 12px;
}

.img-section{
    height: 250px;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 15px;
    background-position: center;

}

/* Header */

header img{
    width: 150px;
}

header ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin: 15px 12px 15px 0px;
    font-weight: 300;
}

/* Logo Section */
.logo{
    width: 100%;
    background-image: url('../img/banner.jpg');
    height: 550px;
    background-position:center;
    background-size: cover;
    position: relative;
}

.description{
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 40%;
    color: white;
}
.description span:first-child{
    font-size: 20px;
}

.description span:last-child{
    font-size: 12px;
}

.space{
    height: 50px;
    width: 100%;
    background: blue;
    border:1px;
    border-style: solid;
}

/* Content Section */

.img1{
    background-image: url('../img/img-1.jpg');
}

.img2{
    background-image: url('../img/banner-2.jpg');

}

.img3{
    background-image: url('../img/img-3.jpg');
}
aside {
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 60%;
}